*{
    margin: 0;
    padding: 0;
}

table
{
    border-collapse: collapse;
    font-size: 20px;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

.tableau{
    margin-top: -500px;
    margin-left: 600px;
}

.info{
    margin-top: 230px;
    margin-left: 600px;
}

.main{
    margin-top: 10px;
    margin-left: 60px;
}

.main1{
    margin-top: 40px;
    margin-left: 0px;
}
